<template name="project">
	<a href="{{pathFor 'projectSinglePage'}}">
	  <div class="portfolio identity project-list-item">
	    <div class="portfolio-wrapper">
	      <img src="{{img}}" alt="{{#if altText.length}}altText{{else}}{{title}}{{/if}}">
	      <div class="caption">
	        <div class="caption-text">
	          <a class="text-title">{{title}}</a>
	          <span class="text-category">{{titleTagline}}</span>
	        </div>
	        <div class="caption-bg"></div>
	      </div>
	    </div>
	  </div>
	</a>
</template>

<template name="projectSinglePage">
	{{#if showTextMessageTwilioForm}}
		{{> textMessageFormTwilioPage}}
	{{/if}}
	{{#if showOneHundredYearsSolitudeD3jsGraph}}
		{{> oneHundredYearsSolitudeD3jsGraphPage}}
	{{/if}}
	{{#if showD3jsTwitterForceGraph}}
		{{> d3jsTwitterForceGraphPage}}
	{{/if}}
	{{#if showTextWordCount}}
		{{> textWordCountPage}}
	{{/if}}

	{{> contactFormSection}}
</template>