<template name="project">
	<a href="{{pathFor 'projectSinglePage'}}">
	  <div class="portfolio identity project-list-item">
	    <div class="portfolio-wrapper">
	      <img src="{{img}}" alt="{{altText}}">
	      <div class="caption">
	        <div class="caption-text">
	          <a class="text-title">{{title}}</a>
	          <span class="text-category">{{titleTagline}}</span>
	        </div>
	        <div class="caption-bg"></div>
	      </div>
	    </div>
	  </div>
	</a>
</template>

<template name="projectSinglePage">
	{{> textMessageFormTwilioPage}}

	{{> contactFormSection}}
</template>