.navbar-subpage + .subpage-content {
	margin-top: 90px;
	margin-bottom: 20px;
	min-height: 200px;
}

.client-logo {
	max-width: 400px;
	margin-bottom: 15px;
}

.control-group {
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

.portfolio-carousel .item .project-details img.client-logo {
	margin-bottom: 15px;
}

img[alt="English Language Institute at Texas A&M University Logo"] {
	padding: 10px 15px;
	background-color: #104553;
	border: 2px solid #232323;
	box-shadow: 1px 1px 5px #232323;
}

img[alt="Books on the Wall Logo"] {
	padding: 10px 15px;
	background-color: #77c4d3;
	border: 2px solid #232323;
	box-shadow: 1px 1px 5px #232323;
}

.subpage section:first-of-type {
	padding: 120px 0 70px;
}