header {
	background-image: url('/img/foresty.jpg');
}

.single-project input[type="text"] {
	padding: 12px 18px;
	width: 100%;
	margin-bottom: 20px;
}

.single-project textarea {
	margin-bottom: 16px;
}

.single-project select {
	padding: 14px 18px;
	width: 100%;
	margin-bottom: 20px;
}

.btn-primary {
	font-size: 16px;
}

#react-root,
.main-layout-container,
.home-content-container,
.home-container {
	height: 100%;
}

.navbar-subpage + .subpage-content {
	margin-top: 90px;
	margin-bottom: 20px;
	min-height: 200px;
}

.project-list-item {
	box-shadow: 1px 1px 5px #232323;
}

form button {
	margin-top: 20px;
}

.g-recaptcha {
	margin-top: 10px;
}

.control-group {
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

.portfolio-carousel .item .project-details img.client-logo {
	margin-bottom: 15px;
}

.client-logo {
	max-width: 400px;
	margin-bottom: 15px;	
	padding: 10px 15px;
	border: 2px solid #232323;
	box-shadow: 1px 1px 5px #232323;
}

img[alt="Eye Trends (College Station) Logo"] {
	background-color: white;
}

img[alt="English Language Institute at Texas A&M University Logo"] {
	background-color: #104553;
}

img[alt="Books on the Wall Logo"] {
	background-color: #77c4d3;
}

.subpage section:first-of-type {
	padding: 120px 0 70px;
}

footer.footer {
	 background-image: url('/img/bg-footer.jpg');
}