<template name="caseStudy">
  <div class="item" style="background-image: url('{{background}}')">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-push-8">
          <div class="project-details">
            <a href="{{url}}"><img src="{{logo}}" class="img-responsive client-logo" alt="{{title}} Logo"></a>
            <span class="project-name">{{title}}</span>
            <span class="project-description">{{description}}</span>
            <hr class="colored">
            <!--<a href="#portfolioModal1" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>-->
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4 hidden-xs">
          <img src="{{img}}" class="img-responsive portfolio-image" alt="{{altText}}">
        </div>
      </div>
    </div>
	</div>
</template>